# Node modules
node_modules/

# Vite build çıktısı
dist/

# .env dosyaları
.env
.env.*

# log dosyaları
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# IDE klasörleri
.vscode/
.idea/
.DS_Store
